<div class="splash-container" style="margin-top:50px">
    <div class="card ">
        <div class="card-header text-center"><a [routerLink]="['']">ToDo App</a><span class="splash-description">Please
                enter your
                user information.</span></div>
        <div class="card-body">

            <div class="form-group">
                <input  class="form-control form-control-lg" id="username" type="text" placeholder="Username"
                    autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" id="password" type="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Remember
                        Me</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="LoginClick()">Sign in</button>

        </div>
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered">
                <a [routerLink]="['/registration']" class="footer-link">Create An Account</a></div>
            <div class="card-footer-item card-footer-item-bordered">
                <a [routerLink]="['/forgot-password']" class="footer-link">Forgot Password</a>
            </div>
        </div>
    </div>
</div>
<script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>