<div class="to-do-item" style="margin-top:50px">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{item.name}}</h3>
            <p class="card-text">Category : {{item.category}}</p>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text" >Status  : {{item.isCompleated}}</p>
            <p class="card-text">Deadline  : {{item.deadline| date:'mediumDate'}}</p>
        </div>
        <div class="card-footer">
            <span *ngFor="let tag of item.tags" class="badge badge-primary mr-2">{{tag}}</span>
        </div>
    </div>
</div>
